@*personalizar url y enviar datos por medio de url*@
@*se envia información por url ya que las paginas no cuentan con un controlador*@
@*en su lugar se usa la clase referente a la pagina*@
@page "/Usuario/Registro" 
            ""
@*@model Paginas_Razor.Areas.Usuario.Pages.Account.RegistrosModel*@
@model RegistrosModel
@{
    ViewData["Title"] = "Registrar";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/registro.css">
    <title>Login</title>
</head>
<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            
            <div class="container">
                <div class="form">
                    <h2>Register</h2>
                    <form method="post">
                        <div class="inputBox">
                            <input asp-for="Input.Name" placeholder="User name" class="form-control">@*txt que recibe informacion*@
                            <span asp-validation-for="Input.Name" class="text-danger"></span>@*mensaje de error si no es valida la informacion*@
                        </div>
                        <div class="inputBox">
                            <input asp-for="Input.Mail" placeholder="Mail" class="form-control">
                            <span asp-validation-for="Input.Mail" class="text-danger"></span>
                        </div>
                        <div class="inputBox">
                            <input asp-for="Input.Password" placeholder="Password" class="form-control">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="inputBox">
                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm password" class="form-control">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Register">
                        </div>
                        <p class="forget">Do you have an account? <a href="#">Sign up</a></p>@*se puede redireccionar a otra pagina de login*@
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}